p {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .images { 
    display:block;
    margin-left: auto;
    margin-right: auto;

  }

  #irishRed{
    max-height: 300px;
  }
  #irishStout{
    max-height: 400px;
  }

  #irishExtra{
    max-height: 500px;
  }

  h2{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  #mainHeading {
    text-align: center;
    color:red
  }
  body{
    display: block;
    margin: 8px;
    background-color: rgb(225, 221, 216);
  }
  #testP{
    color:green;
  }